<%- include('../../manage/include/header.ejs') %>
<style>
    .test {
        width: 50%;
        border-collapse: collapse;
    }

    .test td {
        border: 1px solid black;
        padding: 10px;
    }

    .test_img {width: 300px; height: 300px;}
</style>

<section class="gallery_section_mainpage">
    <fieldset>
        <div class="notice_list_top">
            <p1>파트너 관리</p1>
            <p2>Home &gt; 관리 설정 &gt; 파트너 관리</p2>
        </div>

        <form name="searchform" method="post" action="list.asp" class="search-form">

            <input type="hidden" name="bm_id" value="1">
            <input type="hidden" name="menu" value="2">
            <div class="search-button-group">
                <span style="margin-right: 30px; color: rgba(0,0,0,0.3);"> ※ 승인 방법: 회사 명 선택 > 하단 승인 버튼 선택</span>
                <button src="" type="button" class="search-form-button">
                    <a href="#delete">
                        <p>삭제</p>
                    </a>
                </button>
            </div>
        </form>

        <form name="checkform" method="post">
            <table class="checkform-table">
                <tbody>
                <tr class="checkform-table-header">
                    <td class="checkform-table-smalltd"><input type="checkbox" onclick=""></td>
                    <td class="checkform-table-smalltd">No.</td>
                    <td>회사명</td>
                    <td>담당자</td>
                    <td>전화번호</td>
                    <td>상태</td>
                    <td class="checkform-table-writer-and-date">작성날짜</td>
                    <td class="checkform-table-writer-and-date">수정</td>
                </tr>

                <%
                let currentCount = totalCount - ((currentPage - 1) * itemsPerPage);
                %>

                <% lists.forEach(function(item){ %>
                    <tr class="checkform-table-body">
                        <td> <input type="checkbox" value="<%= item.idx %>"> </td>
                        <td> <%= currentCount-- %> </td>
                        <td> <a href="/partnerdetail?idx=<%= item.idx %>"> <%- item.company %> </a> </td>
                        <td> <%=item.name%> </td>
                        <td>
                            <%= item.number.slice(0, 3) %>-<%= item.number.slice(3, 7) %>-<%= item.number.slice(7) %>
                        </td>
                        <td>
                            <% if(item.status === 0) { %>
                                <span class="status_no">미 승인</span>
                            <%} else {%>
                                <span class="status_yes">승인</span>
                            <% } %>
                        </td>
                        <td> <%=item.regdate%> </td>
                        <td> <a href="/partnerdel?idx=<%=item.idx%>" onclick="return confirm('정말 삭제할까요?')"> 삭제 </a> </td>
                    </tr>
                <% }) %>

                </tbody>
            </table>
        </form> <!--130줄-->
        <div class="manager_btm_list">
            <% for(let i = 1; i <= totalPages; i++) { %>
                <% if(i == currentPage) { %>
                    <strong>[ <%= i %> ]</strong>
                <% } else { %>
                    <a href="/partner?page=<%= i %>" style="text-decoration:none;"><span onmouseover="this.style.color='#000'" onmouseout="this.style.color='#666'"><%= i %></span> </a>
                <% } %>
            <% } %>
        </div>
    </fieldset>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.checkform-table-header input[type="checkbox"]').click(function() {
            $('.checkform-table-body input[type="checkbox"]').prop('checked', $(this).prop('checked'));
        });

        $('a[href="#delete"]').click(function(e) {
            e.preventDefault();

            let selectedIds = $('.checkform-table-body input[type="checkbox"]:checked').map(function() {
                return $(this).val();
            }).get();

            if(selectedIds.length === 0) {
                alert('삭제할 항목을 선택해주세요.');
                return;
            }

            if(confirm('선택한 항목을 정말로 삭제하시겠습니까?')) {
                console.log(selectedIds);
                $.post('/deletepartner', { ids: selectedIds }, function(data) {
                    alert(data.message);
                    location.reload();
                });
            }
        });
    });
</script>

<%- include('../../manage/include/footer.ejs') %>


