<%- include('../../common/include/header.ejs') %>
<body id="news">
<link rel="stylesheet" href="/public/css/common_css/news.css">
<link rel="stylesheet" href="/public/css/common_css/main.css">
<div class="container">

    <section class="news_section01">
        <img class="news_logo" src="/public/img/san/logo.png"/>
        <img class="news_top_img" src="/public/img/san/contents_top.png">
    </section>

    <section class="section_02 main_sec rec_3 news_section02">
        <span class="n_sec2_span_1">FOOD THAT COMFORT'S ME</span>
        <span class="n_sec2_span_2">음식 그 자체보다 중요한 건 '기억'</span>
        <span class="n_sec2_span_3">음식을 섭취할 때 해옥을 느끼고 마음이 편해지는 음식을 의미하는 컴포트 푸드에서 <br> 중요한 요소는 식재료와 가미된 조미료를 넘어 음식 안에 깃든 기억과 그들의 추억이 말해주는 향수와 같다.</span>
        <div class="main_div">
            <div class="mgn_btm_project mgn_btm_border project_div">
                <% list.forEach(function(news) { %>
                    <div>
                        <a href="/detail?table=news&idx=<%= news.idx %>">
                            <img src="<%= news.thumbnail %>" id="thumbnail" />
                        </a>
                        <span class="main_bsec2_span_top" id="title"><%= news.title %></span>
                        <span class="main_bsec2_span_btm" id="subtitle"><%= news.subtitle %></span>
                    </div>
                <% }); %>
            </div>
            <div class="sec2_btm_page">
                <a class="sec2_btm_span"><</a>
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <a class="sec2_btm_span <%= i === currentPage ? 'sec2_btm_span_v2' : '' %>" id="page_btn_<%= i %>" href="/news?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>
                <a class="sec2_btm_span">></a>
            </div>
        </div>
    </section>

<!--    <section class="news_section02">-->

<!--        <div>-->
<!--            <span> < </span>-->
<!--            <div class="news_slide_container">-->
<!--                <div>-->
<!--                    <div>-->
<!--                        <div>-->
<!--                            <div class="news_slide_top_box"></div>-->
<!--                            <span>생태학에는 ‘가장자리 효과’라는 용어가 있는데, 서로 다른 경계가 맞닿는 지점에서 다양성과 생산성이 가장 높게 나타난다는 이론이다. 다른 차원으로 넘어갈 수 있는 경계인 가장자리에 모여 다양한 사람들이 자기 경험을 나누고, 그 대화가 누군가에게 새로운 관점을 낳고, 더 나아가 스스로의 일상을 달래는 위로와 힘이 되길 바라는 마음으로 <가장자리> 라운드테이블을 시작했다. <가장자리> 라운드테이블은 씨앗에서 파생한 ‘돌봄’이라는 주제 안에서 각자의 기준과 관점에 따라 편안하게 생각을 나누고 보태는 시간으로 꾸려진다. 우리 삶의 모습들을 식물의 생애에 덧대어보면 장황해 보이던 인생도 마치 손바닥 위에 올려둔 듯 또렷해지는 순간이 있기 때문이다.</span>-->
<!--                            <div class="news_slide_border"></div>-->
<!--                            <div>-->
<!--                                <span></span>-->
<!--                                <span></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                </div>-->
<!--            </div>-->
<!--            <span> > </span>-->
<!--        </div>-->
<!--    </section>-->

    <section class="news_section03">
        <img class="news_icon" src="/public/img/san/news_icon.png">
        <div class="san_main_btm_div2">
            <span class="btm_box_span1">파트너 신청 문의</span><span class="btm_box_span2" id="btm_box_span2">→</span>
        </div>
        <span class="news_sec3_span">산들정 비지니스 파트너 신청과 관련하여 자세한 사항은 문의바랍니다.</span>
        <div class="news_border"></div>
    </section>

</div>
</body>

    <script>
        window.onload = function (){
            setTimeout(() => document.getElementById('main_span').style.top = '0' , 500);
        }


        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('[data-link]').forEach(item => {
                item.addEventListener('click', function() {
                    window.location.href = this.dataset.link;
                });
            });
        });
    </script>

<%- include('../../common/include/footer.ejs') %>