<%- include('include/header.ejs') %>
<body id="detail">
<div class="container">
    <section class="section_01">
        <img src="/public/img/san/brand_top.png">
        <img style="display: none;" src="/public/img/nac_main_1.png">
    </section>
    <!--섹션1-->

    <section class="detail_section02">
        <span class="detail_gallery_type"><%= boardType %></span>
        <span class="detail_regdate"><%= data.regdate %> </span>
        <span class="gallery_top_span"><%= data.title %></span>

        <div class="detail_memo"> <%- data.memo %> </div>  <!-- 동적으로 Memo를 생성 -->
    </section>

    <script>
        window.onload = function (){
            setTimeout(() => document.getElementById('main_span').style.top = '0' , 500);
        }
        $(document).ready(function() {
            var regdateWidth = $(".detail_regdate").width();
            $("#left").css("width", regdateWidth + "px");
        });
    </script>
</div>
</body>
<%- include('include/footer.ejs') %>