<%- include('include/header.ejs') %>
<body id="detail">
<div class="container">
    <section class="section_01">
        <img src="/public/img/san/brand_top.png">
        <img style="display: none;" src="/public/img/nac_main_1.png">
    </section>
    <!--섹션1-->

    <section class="detail_section02">
        <span class="detail_gallery_type"><%= boardType %></span>
        <span class="detail_regdate"><%= data.regdate %> </span>
        <span class="gallery_top_span"><%= data.title %></span>

        <div class="detail_memo"> <%- data.memo %> </div>  <!-- 동적으로 Memo를 생성 -->
        <script>
            $(document).ready(function() {
                var regdateWidth = $(".detail_regdate").width();
                $("#left").css("width", regdateWidth + "px");

                // Memo 영역의 너비를 가져옵니다.
                var memoWidth = $(".detail_memo").width();

                // 모든 이미지에 대하여 검사합니다.
                $(".detail_memo img").each(function() {
                    var imgWidth = $(this).width();

                    // 이미지의 너비가 memo 영역의 너비보다 큰 경우
                    if (imgWidth > memoWidth) {
                        $(this).css("width", "100%");
                    }
                    // 그렇지 않은 경우, 원래 너비를 유지합니다.
                });

                var regdateWidth = $(".detail_regdate").width();
                $("#left").css("width", regdateWidth + "px");

                // 새로 추가하는 코드
                $('.detail_memo img').each(function() {
                    var memoWidth = $('.detail_memo').width();
                    var imgWidth = $(this).width();

                    if (imgWidth > memoWidth) {
                        $(this).css('width', '100%');
                    }
                    // 이미지가 detail_memo div보다 작거나 같은 경우에는 원본 너비를 유지합니다.
                });
            });
        </script>

    </section>

    <script>
        window.onload = function (){
            setTimeout(() => document.getElementById('main_span').style.top = '0' , 500);
        }
        $(document).ready(function() {
            var regdateWidth = $(".detail_regdate").width();
            $("#left").css("width", regdateWidth + "px");
        });
    </script>

</div>
</body>
<%- include('include/footer.ejs') %>