<%- include('include/header.ejs') %>
<body id="main">
    <div class="container">

        <section class="section_01">
            <img class="main_web_top" src="/public/img/san/san_main_top.png">
            <img class="main_mobile_top" src="/public/img/san/mobile/main_mobile_top.png">
        </section>

        <section class="section_02 main_sec rec_3" id="brand" style="background-color: white;">
            <div class="main_div">
                <span class="m_sec2_span_1" id="SLOGAN_SPAN">SLOGAN</span>
                <span class="m_sec2_span_2" id="SLOGAN_SPAN">우리네 건강한 식품</span>
                <span class="m_sec2_span_3" id="SLOGAN_SPAN">우리 가족을 위해 까다로운 기준으로 엄선한 건강한 식품을 식탁 위에 올릴 수 있도록 항상 노력합니다.</span>
                <div class="main_bsec2_mid_div_btm main_sec1">
                    <div class="san_main_sec1_div">
                        <img class="project_img" src="/public/img/san/SLOGAN_1.png" id="thumbnail"/>
                        <span class="main_bsec2_span_top" id="title">보다 정직하게</span>
                        <span class="main_bsec2_span_btm" id="subtitle">거짓없이 정직한 식품을 약속드립니다.</span>
                    </div>
                    <div class="san_main_sec1_div">
                        <img class="project_img" src="/public/img/san/SLOGAN_2.png" id="thumbnail"/>
                        <span class="main_bsec2_span_top" id="title">더욱 신선하게</span>
                        <span class="main_bsec2_span_btm" id="subtitle">신선한 우리 농작물의 푸르름을 그대로 간직합니다.</span>
                    </div>
                    <div class="san_main_sec1_div">
                        <img class="project_img" src="/public/img/san/SLOGAN_3.png" id="thumbnail"/>
                        <span class="main_bsec2_span_top" id="title">항상 행복하게</span>
                        <span class="main_bsec2_span_btm" id="subtitle">매일매일의 행복한 우리 가족 식탁을 위해 노력합니다.</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_02 main_sec rec_3 main_shop_web" id="brand" style="background-color: rgb(242,242,242); padding: 50px 0; margin:0;">
            <span class="san_shop_slide san_main_shop_left" id="shop_slide_left"> < </span>
            <div class="main_div">
                <span class="m_sec2_span_1">SHOP</span>
                <span class="m_sec2_span_2">우리상품 살펴보기</span>
                <div class="main_plus">
                    <span class="m_sec2_span_3">우리 가족을 위해 까다로운 기준으로 엄선한 건강한 식품을 식탁 위에 올릴 수 있도록 항상 노력합니다.</span>
                    <a href="/shop">+ 더보기</a>
                </div>

                <div class="main_bsec2_mid_div_btm san_main_shop" id="shop_long_slide">
                    <% for(let i = 0; i < shop.length && i < 8; i++) { %>
                        <div class="san_sec3_img_div">
                            <a class="shop_long_div_a" href="<%= shop[i].link %>">
                                <img class="shop_img" src="<%= shop[i].thumbnail %>" alt="Shop Image"/>
                                <span class="main_bsec2_span_top" id="shop_title"><%= shop[i].title %></span>
                                <span class="main_bsec2_span_btm shop_span_btm"><%= shop[i].subtitle %></span>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
            <span class="san_shop_slide san_main_shop_right" id="shop_slide_right"> > </span>
            <script>
                const left = document.getElementById("shop_slide_left");
                const right = document.getElementById("shop_slide_right");
                const slide = document.getElementById("shop_long_slide");

                left.addEventListener("click", function (){
                    slide.style.transform = 'translateX(0%)'
                })
                right.addEventListener("click", function (){
                    slide.style.transform = 'translateX(-50%)'
                })
                // 페이지 로드가 완료되면 실행
                document.addEventListener('DOMContentLoaded', function () {
                    // 모든 'shop_title' 요소를 찾음
                    const titles = document.querySelectorAll('#shop_title');

                    // 각 타이틀에 대하여 길이 체크 및 수정
                    titles.forEach(function (title) {
                        if (title.innerText.length > 20) {
                            // 텍스트가 20자를 초과하면 20자로 자르고 '...' 추가
                            title.innerText = title.innerText.substring(0, 20) + '...';
                        }
                    });
                });
            </script>

        </section>

        <section class="section_02 main_sec rec_3 main_shop_mobile" id="brand" style="background-color: rgb(242,242,242); padding: 50px 0; margin:0;">
            <div class="main_div" style="align-items: center; justify-content: center; ">
                <div class="main_plus">
                    <span class="m_sec2_span_1">SHOP</span>
                    <a href="/shop">+ 더보기</a>
                </div>

                <span class="m_sec2_span_2">우리상품 살펴보기</span>
                <span class="m_sec2_span_3" style="text-align: center;">우리 가족을 위해 까다로운 기준으로 엄선한 건강한 식품을 식탁 위에 올릴 수 있도록 항상 노력합니다.</span>
                <div style="width: 95%; display: flex; flex-direction: column;">
                    <div style="width: 100%; display: flex; justify-content: space-between;">
                        <% for(let i = 0; i < shop.length && i < 2; i++) { %>
                            <div style="display: flex; flex-direction: column; width: 48%; overflow: hidden;">
                                <a href="<%= shop[i].link %>">
                                    <img class="shop_img" style="width: 100%; height: auto;" src="<%= shop[i].thumbnail %>" alt="Shop Image"/>
                                </a>
                                    <span class="main_bsec2_span_top shop_span1" id="shop_title"><%= shop[i].title %></span>
                                    <span class="main_bsec2_span_btm shop_span_btm shop_span1"><%= shop[i].subtitle %></span>
                            </div>
                        <% } %>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: space-between;">
                        <% for(let i = 2; i < shop.length && i < 4; i++) { %>
                            <div style="display: flex; flex-direction: column; width: 48%; overflow: hidden;">
                                <a href="<%= shop[i].link %>">
                                    <img class="shop_img" style="width: 100%; height: auto;"  src="<%= shop[i].thumbnail %>" alt="Shop Image"/>
                                </a>
                                <span class="main_bsec2_span_top shop_span1" id="shop_title"><%= shop[i].title %></span>
                                <span class="main_bsec2_span_btm shop_span_btm shop_span1"><%= shop[i].subtitle %></span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <script>
                // 페이지 로드가 완료되면 실행
                document.addEventListener('DOMContentLoaded', function () {
                    // 모든 'shop_title' 요소를 찾음
                    const titles = document.querySelectorAll('#shop_title');

                    // 각 타이틀에 대하여 길이 체크 및 수정
                    titles.forEach(function (title) {
                        if (title.innerText.length > 30) {
                            // 텍스트가 20자를 초과하면 20자로 자르고 '...' 추가
                            title.innerText = title.innerText.substring(0, 30) + '...';
                        }
                    });
                });
            </script>

        </section>



        <section class="section_02 main_sec rec_3 san_main_btm_1" id="brand" style="background-color: white;">
            <div class="main_div">
                <div class="main_plus">
                    <span class="m_sec2_span_1">CONTENTS</span>
                    <a href="/news">+ 더보기</a>
                </div>
                <span class="m_sec2_span_2">산들정 소식 살펴보기</span>
                <span class="m_sec2_span_3">우리네 안전 먹거리와 관련하여 산들정이 전하는 소식통으로 매일 신선하게, 새롭게</span>
                <div class="main_bsec2_mid_div_btm main_contents">
                    <% for(let i = 0; i < news.length && i < 3; i++) { %>
                        <div class="san_main_contents_div">
                            <a href="/detail?table=news&idx=<%= news[i].idx %>">
                                <img class="project_img" src="<%= news[i].thumbnail %>" id="thumbnail"/>
                            </a>
                            <span class="main_bsec2_span_btm" id="subtitle"><%= news[i].title %></span>
                        </div>
                    <% } %>

                </div>
            </div>
        </section>

        <div class="san_main_border"></div>

        <section class="san_main_btm">
            <div class="san_main_btm_container">
                <div class="san_main_btm_div1">
                    <span class="m_sec2_span_1">PARTNER</span>
                    <span class="m_sec2_span_2">파트너 신청 문의</span>
                    <span class="m_sec2_span_3">산들정 비지니스 파트너 신청과 관련하여 자세한 사항은 문의 바랍니다.</span>
                </div>
                <div class="san_main_btm_div2">
                        <span class="btm_box_span1" id="btm_box_span2">파트너 신청 문의</span><span class="btm_box_span2" id="btm_box_span2">→</span>
                </div>
            </div>
            <script>
                document.getElementById("btm_box_span2").addEventListener("click", function (){
                    window.location.href = '/qa';
                })
            </script>
        </section>

        <section class="section_01">
            <img class="main_web_top" src="/public/img/san/san_main_btm.png">
            <img class="main_mobile_top" src="/public/img/san/mobile/main_mobile_btm.png">
        </section>

    </div>
</body>
<%- include('include/footer.ejs') %>