<%- include('../../common/include/header.ejs') %>
<body id="review">
    <div class="container">
        <section class="section_01 shop_section01">
            <img src="/public/img/san/shop_top.png">
            <img style="display: none;" src="/public/img/nac_main_1.png">
        </section>

        <section class="section_02 main_sec rec_3 news_section02">
            <span class="shop_section02_span">'산들정' 취급 상품</span>
            <div class="main_div">
                <div class="mgn_btm_project mgn_btm_border project_div">
                    <% list.forEach(function(shop) { %>
                        <div>
                            <a href="<%- shop.link %>">
                                <img src="<%= shop.thumbnail %>" id="thumbnail" />
                            </a>
                            <span class="main_bsec2_span_top" id="title"><%= shop.title %></span>
                            <span class="main_bsec2_span_btm" id="subtitle"><%= shop.subtitle %></span>
                        </div>
                    <% }); %>
                </div>
                <div class="sec2_btm_page">
                    <a class="sec2_btm_span"><</a>
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <a class="sec2_btm_span <%= i === currentPage ? 'sec2_btm_span_v2' : '' %>" id="page_btn_<%= i %>" href="/shop?page=<%= i %>">
                            <%= i %>
                        </a>
                    <% } %>
                    <a class="sec2_btm_span">></a>
                </div>
            </div>
        </section>
    </div>
</body>
<%- include('../../common/include/footer.ejs') %>